@model List<LittleBackstage.Core.Models.Category>
@{
    ViewBag.Title = "分类列表-分类管理-资源管理";
}
@section styles_theme_level{
    <!-- Data Tables -->
    <link href="~/Assets/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
}
<div class="wrapper wrapper-content animated fadeInRight" style="width: 100%; height: 100%">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>资源管理 <small>分类管理-列表</small></h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action("AddCategory", "Category")" class="btn btn-primary btn-xs">创建分类</a>
                    </div>
                </div>

                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>分类名称</th>
                                <th>创建时间</th>
                                <th>是否启用</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@item.CategoryName</td>
                                    <td>@item.CreateTime</td>

                                    <td class="center">
                                        @if (item.IsEnable == 1)
                                        {
                                            <span class="label label-info">已审核</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">未审核</span>
                                        }
                                    </td>
                                    <td class="center">
                                        <a href="@Url.Action("EditCategory", "Category", new {id = item.CategoryId})">编辑</a><span> | </span>
                                        <a href="@Url.Action("DelCategory", "Category", new {id = item.CategoryId})" onclick="return confirm('确认删除')">删除</a>
                                        @if (item.IsCreateTable == 0)
                                        {
                                            <span> | </span>
                                            <a href="@Url.Action("CreateTableForCategory", "Category", new { id = item.CategoryId })">创建模板</a>
                                        }
                                        else
                                        {
                                            <span> | </span>
                                            <a href="@Url.Action("CategoryFieldsList", "Category", new { categoryId = item.CategoryId })">模板管理</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <!-- 全局js -->
    <script src="~/Assets/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="~/Assets/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    @*<script src="~/Assets/js/content.js?v=1.0.0"></script>*@
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable({
                "lengthChange": false, //是否允许用户改变表格每页显示的记录数
                "ordering": false,//是否允许DataTables排序
                "pageLength": 10//改变初始的页面长度(每页显示的记录数)
            });
        });
    </script>
}
<!-- Page-Level Scripts -->
