@model  LittleBackstage.Core.Models.Category
@{
    ViewBag.Title = "编辑分类-分类管理-资源管理";
}
@section styles_theme_level{

}

<div class="wrapper wrapper-content animated fadeInRight" style="height:auto">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>资源管理 <small>分类管理-编辑分类</small></h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("EditCategory", "Category", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.CategoryId)
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类名</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                启用状态
                            </label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" @(Model.IsEnable == 1 ? "checked" : "") value="1" name="IsEnableRadios">启用
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" @(Model.IsEnable == 0 ? "checked" : "") value="0" name="IsEnableRadios">未启用
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">说明</label>
                            <div class="col-sm-6">
                                @Html.TextAreaFor(m => m.Explain, new { @class = "form-control", @cols = "20", @rows = "5" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <a class="btn btn-white" href="@Url.Action("CategoryList", "Category")">取消</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}