@model List<LittleBackstage.Core.Models.Manager>
@{
    ViewBag.Title = "管理员列表-权限管理-用户管理";
}
@section styles_theme_level{
    <!-- Data Tables -->
    <link href="~/Assets/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
}

<div class="wrapper wrapper-content animated fadeInRight" style="width: 100%; height: 100%">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户管理 <small>权限管理-列表</small></h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action("AddManager","User")" class="btn btn-primary btn-xs">创建管理员</a>
                    </div>
                </div>

                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>管理员名称</th>
                                <th>角色</th>
                                <th>注册时间</th>
                                <th>审核状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@item.UserName</td>
                                    @if (item.Role != null)
                                    {
                                        <td>@item.Role.RoleName</td>
                                    }
                                    else
                                    {
                                        <td>无角色</td>
                                    }
                                    <td>@item.Register</td>
                                    <td class="center">
                                        @if (item.IsExamine == 1)
                                        {
                                            <span class="label label-info">已审核</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">未审核</span>
                                        }
                                    </td>
                                    <td class="center">
                                        <a href="@Url.Action("EditManager", "User", new {id = item.ManagerId})">编辑</a> | <a href="@Url.Action("DelManager", "User", new {id = item.ManagerId})">删除</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @*<tfoot>
                            >编辑</a> | <a href="#">删除</a></td>
                                      </tr>
                                  }
                              </tbody>
                              @*<tfoot>
                                      <tr>
                                          <th>渲染引擎</th>
                                          <th>浏览器</th>
                                          <th>平台</th>
                                          <th>引擎版本</th>
                                          <th>CSS等级</th>
                                      </tr>
                                  </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <!-- 全局js -->
    <script src="~/Assets/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="~/Assets/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    @*<script src="~/Assets/js/content.js?v=1.0.0"></script>*@
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable({
                "lengthChange": false, //是否允许用户改变表格每页显示的记录数
                "ordering": false,//是否允许DataTables排序
                "pageLength": 10//改变初始的页面长度(每页显示的记录数)
            });
        });
        //var dh = $(window).height() - 50;
        //$(".row").css("min-height", dh + "px");
    </script>
}
<!-- Page-Level Scripts -->
