@model  LittleBackstage.Core.Models.CategoryField
@{
    ViewBag.Title = "编辑模版字段-模版管理-资源管理";
}
@section styles_theme_level{

}

<div class="wrapper wrapper-content animated fadeInRight" style="height:auto">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>资源管理 <small>模版管理-编辑模版字段</small></h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("EditCategoryField", "CategoryField", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" id="categoryId" value="@ViewBag.id" name="categoryId" />
                        @Html.HiddenFor(m => m.CategoryFieldId, new { @class = "form-control" })
                        <div class="form-group">
                            <label class="col-sm-2 control-label">字段名称</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.FieldName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标识</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.IdEntity, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">说明</label>
                            <div class="col-sm-6">
                                @Html.TextAreaFor(m => m.Explain, new { @class = "form-control", @cols = "20", @rows = "5" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                显示在列表中
                            </label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" @(Model.IsShow == 1 ? "checked" : "") value="1" name="IsShow">显示
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" @(Model.IsShow == 0 ? "checked" : "") value="0" name="IsShow">不显示
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <a class="btn btn-white" href="@Url.Action("CategoryFieldsListByCategoryId", "CategoryField", new { categoryId = Model.Category.CategoryId })">取消</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}